<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Online-Shop.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comprar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorías</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Categoría 1</a></li>
                        <li><a class="dropdown-item" href="#">Categoría 2</a></li>
                        <li><a class="dropdown-item" href="#">Categoría 3</a></li>
                        <li><a class="dropdown-item" href="#">Categoría X</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">No se que poner aca xd</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
            </ul>
            <form class="navbar-nav form-inline my-2 my-lg-0 pull-left">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Login</a>
                </li>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <h2>Encuentre su producto al mejor precio:</h2>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Busque un producto..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>
<!-- Custom script: -->
<script src="/js/navFunction.js"></script>